*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
html,body{
    height: 100%;

}
.contenedor{
    padding: 50px;
    min-width:700px;
    max-width:1200px;
    min-height:500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,minmax(150px,1fr));
    grid-template-rows: repeat(3,minmax(150px,1fr));
}