*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
html,body{
    height: 100%;
    background:linear-gradient(rgb(122, 46, 103), rgb( 70, 27, 7));
}
.contenedor{
    padding: 50px;
    min-width:700px;
    max-width:1200px;
    min-height:700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,minmax(150px,1fr));
    grid-template-rows: repeat(3,minmax(150px,1fr));
    gap: 20px;
    
}
.caja{
    border-radius: 20px;
   
}
.caja:nth-of-type(1){
    background: #349989;
    grid-column: 1/3;
    grid-row: 1/3;
}
.caja:nth-of-type(2){
    background: #4eadc3;
    grid-column: 3/6;
    grid-row: 1/2;
}

.caja:nth-of-type(3){
    background: #a85851;
    grid-column: 3/5;
    grid-row: 2/4;
}

.caja:nth-of-type(4){
    background: #355d67;
    grid-column: 5/6;
    grid-row: 2/3;
}

.caja:nth-of-type(5){
    background: #716664;
    grid-column: 5/6;
    grid-row: 3/4;
}

.caja:nth-of-type(6){
    background: #716664;
    grid-column: 1/3;
    grid-row: 3/4;
}

@media screen and (max-width:920px) {
    .contenedor{
        padding: 20px;
        
    }
}

